<div class="bg-image"></div>
<app-best-seller></app-best-seller>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>storefront</mat-icon> Café Management System
    </a>
    <ul>
      <li>
        <button (click)="handleSignupAction()" mat-button style="color: white; font-size: large">Sign Up</button>
        <button (click)="handleForgotPasswordAction()" mat-button style="color: white; font-size: large">Forgot Password</button>
        <button (click)="handleLoginAction()" mat-button style="color: white; font-size: large">Login</button>
      </li>
    </ul>
  </nav>
</div>
<div class="footer" id="signup">
  <h2>All right reserved @Saksham Koul</h2>
</div>